h1{
    color:#133a219e;
}

a{
    
    text-align: center
}

.primary-content{
    background-color:lightgray;
    margin-top:10%;
    padding:10%;
    text-align: center;
    margin-bottom:10%;
}

.nav-style{
    font-size: 33px;
    background-color: gray;
    padding: 18px;
    border: 10px solid #133a219e;
    border-radius: 25px;
}

.b-style{
    margin-right:10px;


}

#b-position{
    margin-left :10%;
}

.checkbox{
    margin-bottom: 5px;
}

#display{
    width:100%;
    margin-bottom:10px;
}

#number{
    margin-top:5px;
}


